@model Bookish.Models.Request.CreateLoanRequest
@{
    ViewData["Title"] = "Registrate new loan";
}



<h1>Borrow a book</h1>
<form
    asp-controller="Home"
    asp-action="CreateLoan"
    method="post"
>

    <label asp-for="MemberId">
        Member: <select asp-for="MemberId" asp-items="ViewBag.Members"></select>

    </label>

    <label asp-for="CopyId">
        Available books: <select asp-for="CopyId" asp-items="ViewBag.Copies"></select>

    </label>

    <br/><br/><br/>



    <input type="submit">
</form>
