<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookish</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookish.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="Bookish/Views/Shared/_Layout.cshtml.css" asp-append-version="true" /> 

</head>
<body>
        @* bg-white  style="background-color: #e3f2fd;" #55cd98*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  navbar-light border-bottom box-shadow mb-3" style="background-color: #55cd98">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bookish</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav nav-pills lex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="BookList">BookList</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="btn btn-secondary nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Books</a>
                            <div class="dropdown-menu" style="background-color: #55cd98">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="BookList">All books</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CreateBookForm">Add a book</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CreateAuthorForm">Add an author</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="btn btn-secondary nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Copies</a>
                            <div class="dropdown-menu" style="background-color: #55cd98">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AvailableCopyList">Available copies</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AvailableExemplarsList">Available copies with count</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CreateCopyForm">Register new copies</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="btn btn-secondary nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Members</a>
                            <div class="dropdown-menu" style="background-color: #55cd98">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="MemberList">All members and their loans</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CreateLoanForm">Borrow a book</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CreateMemberForm">Add a member</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Bookish - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
