html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:#008e8d; 
  color: #ffcc83; 
}
.invisible {
  display: none;
}
.visible {
  display: block;
  border-style: dotted;
  /* border-color: #004e93; */
  border-width: medium;
  border-radius: 1rem;
}
.noframe{
  border-style: none;
}
.underlined {
  text-decoration: underline;
  color: #004e93;
  
}
h4 {
  /* color: #55cd98;  */

  color: #004e93; 
  font-size: 1.2rem; 
}


.row > div {
  
  border-top: 1px solid ;
  border-bottom: 1px solid ;
}


